<h1>Welcome to the documentation of this project.</h1>
<p>
	To start adding extra parts to the doc you should first start reading <a
	href="http://yui.github.io/yuidoc/syntax/index.html">Documentation about the docs syntax</a>.
</p>
<h2>Keyboard Shortcuts</h2>
<p>
  Browse to a module or class using the sidebar to view its API documentation.
</p>

<ul>
  <li><p>Press <kbd>s</kbd> to focus the API search box.</p></li>

  <li><p>Use <kbd>Up</kbd> and <kbd>Down</kbd> to select classes, modules, and search results.</p></li>

  <li class="mac-only"><p>With the API search box or sidebar focused, use <kbd><span class="cmd">&#x2318;</span>-Left</kbd> or <kbd><span class="cmd">&#x2318;</span>-Right</kbd> to switch sidebar tabs.</p></li>

  <li class="pc-only"><p>With the API search box or sidebar focused, use <kbd>Ctrl+Left</kbd> and <kbd>Ctrl+Right</kbd> to switch sidebar tabs.</p></li>
</ul>




